

/* Navigation */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

header.top-of-page {
  font-family: 'Work Sans', sans-serif;
  /* background: var(--clr-accent); */
  background: #f4f4f4;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;;
  /* z-index: 999; */
  width: 100%;
  margin: 0;
  top: 0;
}


.contact-details {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: right;
  font-weight: bold;
  line-height: .755rem;;
  font-size: .75rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  /* border: 1px solid red; */
  border-radius: 5px;
  
  display: block;
  text-align: right;
  top: 0;
}


.logo a {
  text-decoration: none;
  color: black;
}

.logo img {
  width: 50px;
  height: 100%;
  margin: auto;
}

.navbar-nav {
  display: none;
}
.navbar{
  /* background-color:#3b5998; */
  overflow:hidden;
  height:100%;
  /* margin: auto; */
  
}

.navbar a{
  float:left;
  display:block;
  color:black;
  /* text-align:center; */
  padding: .2rem .4rem;
  margin: auto;
  text-decoration:none;
  /* font-size:17px; */
  border: 2px solid black;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

.open-slide svg {
  color: black;
  background: black;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}
