
/* 
FONTS
 */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap'); */


:root {
  --clr-text: #3D3D3D;
  --clr-primary: #08C942;
  --clr-primary-dark: rgb(7, 99, 34);
  --clr-accent: #088FC9;
  --clr-accent-dark: rgb(4, 63, 88);
  
  
  --ff-title:  'Nunito', sans-serif;
  --ff-serif:  'Nunito', sans-serif;
  --ff-logo:  'Nunito', sans-serif;
  --ff-paragraph:  'Nunito', sans-serif;

  /* --ff-title:  Arial, Helvetica, sans-serif;
  --ff-serif:  Arial, Helvetica, sans-serif;
  --ff-logo:  Arial, Helvetica, sans-serif;
  --ff-paragraph:  Arial, Helvetica, sans-serif; */

  /* --ff-title: "Kaushan Script", cursive;
  --ff-serif: "Source Sans Pro", sans-serif;
  --ff-logo: "Chelsea Market", cursive;
  --ff-paragraph: "Sedgwick Ave", serif; */
}

/* 
colour 1: #08C942
colour 2: #40515E
colour 3: #6FD32C
colour 4: #D8D8D8
colour 5: #C2D6CE

 */
 *,
 *::before,
 *::after {
     box-sizing: inherit;
 }
  

 html {
  box-sizing: border-box;
  font-family: var(--ff-paragraph);
  color: var(--clr-text);
  font-size: 1.25rem;
  background: linear-gradient(to left, #a3eeb9 , #f4f6f7);
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  text-align: center;
  
}


img {
  display: block;
  max-width: 100%;
}


section {
  padding: 3em 1em;
}

.section-title {
  /* font-size: 3rem; */
  margin-bottom: 1em;
}

.intro-subheadline {
  font-weight: bold;
}

.mb-0 {
  margin-bottom: 0;
}

/* Typography */

h1, h2, h3, h4, p {
  margin: 0;
}

h2,
h3 {
  font-family: var(--ff-title);
  line-height: 0.8;
  letter-spacing: 1px;;
}

h2 {
  font-size: 4rem;;
}

p {
  margin-bottom: 0.85em;
  font-family: var(--ff-paragraph);
}

p:last-child {
  margin-bottom: 0;
}

.text-primary {
  color: var(--clr-primary);
}


.intro h2 {
  font-size: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}




/* Buttons */

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.btn-group__intro {

}

.btn {
  padding: .75em 2.5em;
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5em;
  border-radius: 0.35em;
}

.btn-accent {
  background: var(--clr-accent);
}

.btn-accent:hover,
.btn-accent:focus {
  color: var(--clr-accent-dark);
}


.btn-primary {
  background: var(--clr-primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--clr-primary-dark);
}

.btn + .btn {
  margin-left: 0.5em;
}

/* Homepage styles */

.hero {
  background-color: #333;
  background-image: url(../img/Capture.PNG);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 2vh 1em;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 1.8rem;
}

.hero h2 {
  font-size: 1.4rem;
}

.hero-img {
  height: auto;
  min-height: 150px;
  max-height: 300px;
  width: 100%;
  min-width: 150px;
  max-width: 400px;
  border-radius: 5%;
  padding: 1rem;
}

.hero-title {
  /* display: flex; */
  /* align-items: flex-start; */
  text-align: left;
}
.intro-text-hero {
  color: var(--clr-primary);
}

.head-treatments {
  display: flex;
  flex-direction: column;
  background: var(--clr-accent-dark);
  color: #fff;
  text-align: left;
  padding: 3em;
}
/* 
.treatments {
  width: 50%;
}

.nutrition-head {
  width: 50%;
} */

.about-me {
  background: var(--clr-accent);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0;
}

.about-me__intro {
  background-image: url(../img/nutrition-slide-2a.jpg);
  background-size: cover;
  background-color: #333;
  background-blend-mode: multiply;
  padding: 3em 1em 1.5em;
  
}

.about-me__intro small {
  font-size: 0.7em;
  display: block;
  
  /* color: var(--clr-accent); */
}

.about-me__body {
       padding: 1.5em 1em 3em;
}

.order-online {
  background: #F0F0F0;
}

.services {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}


.service {
  /* background: #f0f0f0; */
  border-radius: 1em;
  /* border: 1px solid red; */
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.service:last-of-type {
  margin-bottom: 2em;
}

.service__content {
  padding: 1.5em;
}

.service__title {
  color: var(--clr-primary);
  font-size: 2rem;
  margin-bottom: .5em;
}

.service__img {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fineprint {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.85);
}

footer {
  background: var(--clr-accent-dark);
  padding: 3em 1em;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}


.footer-social,
.footer-nav {
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer-nav a {
  padding: .75em;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}
footer a {
  color: inherit;
}



.social-icon {
  width: 50px;;
}

.social-link {
  display: inline-block;
  /* padding: .5em; */
  margin-bottom: .3em;
}

/* a.social-link {
  padding-bottom: 1px;
  margin-bottom: .2em;
} */


.small-services {
  
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap:1em;
      /* grid-auto-rows:100px; */
  grid-auto-rows: minmax(100px, auto);
  
}

.sm-item {
  background: var(--clr-primary);
  border-radius: 2%;
  color: white;
  justify-items: center;
}

.material-icons {
  display: inline;
  vertical-align: bottom;
  padding-right: .3rem;
  padding-top: .5rem;
  line-height: .7rem;
  
  
}

.ali-map {
  max-width: 100%;
  min-height: 600px;
}

.ali-map iframe {
  max-width: 50%;
}

button.more-text-button {
  background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     cursor:pointer;
}

button.more-text-button:hover {
  text-decoration: underline;
}

#nst-more-text {
  display: none;
}

.upcase {
  text-transform: uppercase;
  font-weight: 500;
}


.faqs .container {
  background: var(--clr-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.accordian {
  width: 80%;
  margin: 0 auto;
  padding: 0 1.5em;
}

.accordian-item {
  background-color: #283042;
  color: #fff;
  border-radius: .4em;
  margin-bottom: .5em;
  padding: 1em;
  box-shadow: .5em 2px .5em rgba(0, 0, 0, 0.1);

}

.accordian-link {
  text-decoration: none;
  color: #dbecf5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.accordian-link i {
  color: pink;
  padding: .5em;
}

.accordian-link .remove-answer {
  display: none;
}

.answer {

  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms;
  
}

.answer::before {
  content: '';
  position: absolute;
  width: .3em;
  height: 90%;
  margin-right: .4em;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.6);
  padding: 1em;
}

.accordian-item:target .answer {
  max-height: 40em;
}

.accordian-item:target .accordian-link .add-answer {
  display: none;
}

.accordian-item:target .accordian-link .remove-answer {
  display: block;
}



/* .hide {
  display: none;
} */
